* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

#board {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.level {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    transform: rotateX(45deg) rotateZ(45deg);
    
    z-index: 2;
    
    box-shadow: 0 0 0 0.25vh #000;
}

.level:hover {
    z-index: 4;
    
    box-shadow: 0 0 0 0.25vh #000, 0 0 2vh 0.5vh #000;
}

#board:has(.level:hover) > .level:not(:hover) {
    opacity: 0.4;
}

.y1 {
    translate: 0 25vh;
    z-index: 3;
}

.y3 {
    translate: 0 -25vh;
    z-index: 1;
}

.y1 > .cell {
    background-color: #fff;
}

.y2 > .cell {
    background-color: #aaa;
}

.y3 > .cell {
    background-color: #666;
}

.y2 > .x5 {
    background-color: #000;
}


.cell {
    border: 0.25vh #000 solid;
    aspect-ratio: 1 / 1;
    height: 10vh;
    
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 8vh;
    font-family: Monospace;
}

#settings {
    margin: auto;
}

#settings > div {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
}

#settings > div > div {
    display: flex;
    width: 100%;
    gap: 3rem;
}

#settings > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#settings input {
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    border-bottom: 0.2em solid currentColor;
    background-color: #0004;
}

button {
    border: 0.2em solid currentColor;
    background-color: transparent;
    padding: 0.5em;
    font-size: 18px;
}

.cell > img {
    width: 100%;
    height: 100%;
}

body > nav {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    padding: 1rem;
    gap: 1rem;
}

#rotation {
    width: 60vw;
    bottom: 10vh;
    left: 20vw;
}

#rotation, #spacing {
    position: absolute;
}

#spacing {
    left: 80vw;
    height: 60vh;
    top: 20vh;
    writing-mode: sideways-lr;
}